<header class="site-header">

  <div class="wrapper">

    <!--<a class="site-title" href="{{ site.baseurl }}/" style="font-family: 'Lobster Two', cursive; font-weight: 400; padding: 20px;font-size: 40px;">{{ site.title }}</a>-->
    <!--<a class="site-title" href="{{ site.baseurl }}/" style="font-family: 'Lobster', cursive; font-weight: 400; padding: 20px;font-size: 40px;">{{ site.title }}</a>-->
    <a class="site-title" href="{{ site.baseurl }}/" style="font-family: 'Cherry Cream Soda', cursive; font-weight: 400; padding: 20px;font-size: 40px;color: #4285F7;text-decoration: none;">F<span style="color: #EA4735;">oo</span><span style="color: #FBAA05;">d</span><span style="color: #34A857;">ialo</span></a>

  </div>

</header>
